@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
    font-family: "Roboto", sans-serif !important;
    background-color: #ededed;
}
.rbt-aux {
    position: absolute;
    top: 7px;
    right: 6px;
}
.form-group {
    margin-bottom: 10px;
}
label {
    margin-bottom: 1px;
    font-weight: bold;
}
label::after {
    content: " :";
}
* {
    box-shadow: none;
    outline: none !important;
}
// Mui
.MuiAppBar-colorPrimary {
    color: inherit;
    background-color: $color_principal !important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: $color_principal !important;
    border-width: 0px;
}

.MuiInputLabel-root {
    color: $color_principal !important;
}
.btn-principal {
    background-color: $color_principal !important;
    border-width: 0px !important;
    color: #fff !important;
}
